<!doctype html>
<html lang="en">

<head>
  <title>Vibe Oakland</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between mb-2">
    <a class="navbar-brand nav-link" href="/">Vibe Oakland</a>
    <div class="navbar-nav px-2">
      <% if (!currentUser) { %>
      <a class="nav-item nav-link" href="/login">Login</a>
      <a class="nav-item nav-link" href="/register">Sign Up</a>ƒ
      <% } else { %>
      <a class="nav-link" href="#">Signed in as <%= currentUser.username %></a>
      <a class="nav-item nav-link" href="/logout">Logout</a>
      <%    } %>
    </div>
  </nav>