<% include partials/header %>

<h1>This is the show template</h1>

<p class=""> <%= campground.name %> </p>
<img src="<%= campground.image %>" alt="">

<p class=""><%=campground.description%></p>

<% include partials/footer %>